.root {
    margin-bottom: 10px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    border-radius: 10px;
    width: 95%;
    padding: 10px;
}

.user {
    color: #0357b5;
}

.rating {
    color: #0357b5;
}

.reviewText {
    font-style: italic;
}