.button {
    padding: 0;
    font-size: 15px;
}
.active {
    background-color: pink;
    color: black;
}
.light.default{
    background-color: burlywood;
    color: black;
}
.dark.default{
    background-color: darkslategray;
    color: lightgray;
}