@import "../App/variables.module.css";

.root {
    display: flex;
    align-items: center;
}

.button {
    padding: .5rem;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary-blue);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}