@import "../App/variables.module.css";

.appLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #cfd8dc;

}

.main {
    padding: 20px;
    align-self: center;
    flex-grow: 1;
}

.aside {
    align-self: center;
}