.appLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #cfd8dc;
}
.main {
    padding: 20px;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
}
.aside {
    align-self: end;
    margin-right: 20px;
}