.root {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
}

.header {
    font-size: 2rem;
    color: #1e3a8a;
    font-weight: bold;
}

.message {
    font-size: 1.5rem;
    color: #0357b5;
    font-weight: bold;
}