@import "../../components/App/variables.module.css";

.root {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
}

.header {
    font-size: 2rem;
    color: var(--secondary-blue);
    font-weight: bold;
}

.message {
    font-size: 1.5rem;
    color: var(--moderate-blue);
    font-weight: bold;
}